.label-wrapper {
  min-width: 40px;
  width: fit-content;
  padding: 2px 6px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.text {
  svg {
    display: none;
  }
}