%button-base {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.48px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button-size($size, $padding) {
  font-size: $size;
  padding: $padding;
}

@mixin button-style($color, $background, $hover-background, $disabled-background, $disabled-color: $color) {
  color: $color;
  background: $background;

  &:disabled {
    background-color: $disabled-background;
    color: $disabled-color;
    &:hover {
      background-color: $disabled-background;
      color: $disabled-color;
    }
  }

  &:hover {
    background-color: $hover-background;
  }
}

.button {
  @extend %button-base;

  &--basic {
    border-radius: 0.25rem;
  }

  &--round {
    border-radius: 45px;
  }

  &--primary {
    @include button-style(#fff, #1db177, #189966, #d2efe4);
  }

  &--secondary {
    @include button-style(white, #535c68, #3d444d, #cdd5e1);
  }

  &--gray {
    @include button-style(#666666, #f5f5f5, #dadadc, #e7e7e9, #cacacd);
    &:hover {
      color: #898990;
    }
  }

  &--sm {
    @include button-size(13px, 8px);
  }

  &--md {
    @include button-size(14px, 12px);
  }

  &--lg {
    @include button-size(14px, 16px);
  }

  &--xl {
    @include button-size(16px, 19px 16px);
  }

  &--outline {
    background: white;
    &:hover {
      background: #f5f5f5;
    }

    &--primary {
      @include button-style(#1db177, white, #f5f5f5, #fff, #d2efe4);
      border: 1px solid #1db177;
      &:disabled {
        border: 1px solid #d2efe4;
      }
    }

    &--secondary {
      @include button-style(#535c68, white, #f5f5f5, #fff, #ced5e0);
      border: 1px solid #cdd5e1;
      &:disabled {
        border: 1px solid #ebf0f8;
      }
    }
  }

  &--text {
    background: white;
    border: none;
    &:hover {
      background: #f5f5f5;
    }

    &--primary {
      @include button-style(#1db177, white, #fff, #fff);
      &:hover {
        color: #189966;
      }
    }

    &--secondary {
      @include button-style(#535c68, white, #fff, #fff);
      &:hover {
        color: #898990;
      }
    }

    &--gray {
      @include button-style(#666666, white, #fff, #fff);
      &:hover {
        color: #a6a6ab;
      }
    }
  }
}
