%button-base {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.48px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button-size($size, $padding) {
  font-size: $size;
  padding: $padding;
}

@mixin button-style($color, $background, $hover-background) {
  color: $color;
  background: $background;

  &:hover {
    background-color: $hover-background;
  }
}

@mixin outline-style($color, $border) {
  color: $color;
  border: 1px solid $border;
}

.button {
  @extend %button-base;

  border-radius: 0.25rem;

  &--full {
    width: 100% !important;
  }

  &:disabled {
    background: theme('colors.gray.50');
    color: theme('colors.gray.300');
    &:hover {
      background: theme('colors.gray.50');
      color: theme('colors.gray.300');
    }
  }

  &--primary {
    @include button-style(theme('colors.white'), theme('colors.brand.primary'), theme('colors.mintgreen.600'));
  }

  &--secondary {
    @include button-style(theme('colors.white'), theme('colors.brand.secondary'), theme('colors.bluegray.700'));
  }

  &--xs {
    @include button-size(12px, 3px 8px);
  }

  &--sm {
    @include button-size(13px, 7px 12px);
  }

  &--md {
    @include button-size(14px, 11px 16px);
  }

  &--lg {
    @include button-size(14px, 15px 20px);
  }

  &--xl {
    @include button-size(16px, 22px 28px);
  }

  &--outline {
    background: theme('colors.white') !important;

    &:disabled {
      @include outline-style(theme('colors.gray.100'), theme('colors.gray.100'));
      &:hover {
        color: theme('colors.gray.100');
        border: 1px solid theme('colors.gray.100');
      }
    }

    &--primary {
      @include outline-style(theme('colors.mintgreen.500'), theme('colors.mintgreen.500'));
    }

    &--secondary {
      @include outline-style(theme('colors.brand.secondary'), theme('colors.brand.secondary'));
    }
  }

  &--text {
    background: white;
    border: none;
    &:hover {
      background: theme('colors.bluegray.50') !important;
      color: theme('colors.brand.primary') !important;
    }

    &:disabled {
      background: theme('colors.white');
      color: theme('colors.gray.300');
      &:hover {
        background: theme('colors.white') !important;
        color: theme('colors.gray.300') !important;
      }
    }

    &--primary {
      @include button-style(#1db177, white, #fff);
      &:hover {
        color: theme('colors.gray.300');
      }
    }
  }
}
