.button--outline {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.button--outline:hover {
  background: #f5f5f5;
}

.basic {
  border-radius: 0.25rem;
}

.solid {
  border-radius: 0rem;
}

.round {
  border-radius: 45px;
}

.primary {
  color: #1db177;
  border: 1px solid #1db177;
}

.secondary {
  color: #535c68;
  border: 1px solid #cdd5e1;
}

.primary:disabled {
  border: 1px solid #bbe8d6;
  color: #bbe8d6;
}

.secondary:disabled {
  border: 1px solid #ebf0f8;
  color: #ebf0f8;
}

.sm {
  font-size: 12px;
  padding: 6px;
}

.md {
  font-size: 14px;
  padding: 8px;
}

.lg {
  font-size: 16px;
  padding: 12px;
}

.xl {
  font-size: 18px;
  padding: 16px;
}
