.label-wrapper {
  min-width: 40px;
  width: fit-content;
  padding: 2px 6px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 2px;
}

// tailwind 컬러 설정 후 변경 예정
.primary {
  @apply text-mintgreen-500 bg-mintgreen-50;
}

.secondary {
  @apply text-bluegray-600 bg-bluegray-100;
}

.tertiary {
  @apply text-gray-500 bg-gray-50;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.default {
  svg {
    display: none;
  }
}
