$gray: theme('colors.gray.200');
$red: theme('colors.red.600');
$black: theme('colors.black');
$primary: theme('colors.brand.primary');

@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select-wrap {
  width: 100%;
  min-width: 220px;
  cursor: pointer;
  outline: none;

  &:focus {
    .label {
      color: $primary;
    }
    .select {
      &--basic {
        border: 1px solid $primary;
      }

      &--underline {
        border-bottom: 2px solid $primary;
      }
    }
  }

  .label {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.3px;
    margin-bottom: 10px;
    color: $black;
    &.error {
      color: $red;
    }
  }

  .select {
    width: 100%;
    color: $black;
    display: flex;
    align-items: center;
    position: relative;

    .selected-value {
      @include text-ellipsis;
      max-width: calc(100% - 24px);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.3px;
    }

    &--basic {
      border: 1px solid $gray;
      padding: 12px 20px;
      height: 48px;
      border-radius: 4px;
    }

    &--underline {
      height: 38px;
      border-bottom: 2px solid $gray;
    }

    outline: 0 !important;
    -webkit-appearance: none; /* for chrome */
    -moz-appearance: none; /*for firefox*/
    appearance: none;
    &::-ms-expand {
      display: none; /*for IE10,11*/
    }
  }

  .custom-options {
    width: 100%;
    max-height: 246px;
    overflow-y: auto;
    outline: 1px solid $gray;
    position: absolute;
    left: 0;
    top: 100%;
    border-radius: 0 0 4px 4px;
    background: theme('colors.white');
    z-index: 2;
    display: none;

    .custom-option {
      padding: 10px 20px;
      display: flex;
      p {
        color: $black;
        width: 100%;
        font-size: 14px;
        @include text-ellipsis;
      }

      &:hover {
        background-color: theme('colors.gray.50');
        p {
          color: $primary;
        }
      }

      &.selected {
        background-color: theme('colors.gray.50');
        p {
          color: $primary;
        }
      }
    }

    &.show {
      display: block;
    }
  }

  .disabled {
    background: theme('colors.gray.50');
    color: theme('colors.gray.300');
    cursor: default;
  }

  .open {
    border-radius: 4px 4px 0 0;
  }

  .icon {
    width: 24px;
    height: 24px;
    position: absolute;
    pointer-events: none;
    color: $gray;
    transition: 0.3s;

    &.error {
      color: $red;
    }

    &.underline {
      right: 0;
    }

    &.basic {
      right: 20px;
    }

    &.reverse {
      transform: rotate(180deg);
    }
  }

  .not-selected {
    color: $gray;
  }

  .selected {
    color: $black;
  }

  .error {
    border-color: $red;
    color: $gray;
  }
}
