@mixin direction($direction) {
  position: absolute;
  border-top: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #232328;
  border-left: 6px solid transparent;

  @if $direction == "up" {
    top: -12px;
  } @else if $direction == "down" {
    bottom: -12px;
    transform: rotate(180deg);
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.tooltip-wrapper {
  @apply bg-gray-800;
  position: relative;
  min-width: 94px;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  opacity: 1;
  width: fit-content;
  // @extends
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.3px;
}

.white {
  @apply bg-white;
  color: #555558; // slot 영향 X
}

.hideAnimation {
  opacity: 0;
  animation: slide-out 0.5s linear;
}

// .onOpen {
//   animation: slide-in 0.5s linear;
// }

.clicked {
  // 버튼 on, off
  display: none;
}

.up {
  @include direction("up");
}

.down {
  @include direction("down");
}
